.header p {
	font-size: xx-large;
	font-weight: bolder;
}

.block div:first-child p {
	font-size: 20px;
	font-weight: bold;
}

.block span {
	margin-left: 10px;
	margin-right: 30px;
}

.h25 {
	display: block;
}